/* Colors from the palette */
:root {
  --first-color: #222831;
  --second-color: #393e46;
  --third-color: #00adb5;
  --fourth-color: #eeeeee;
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider-color: #bdbdbd;
  --icons-text: #ffffff;
}

body {
  font-family: "Arial", sans-serif;
  color: var(--primary-text);
  background-color: var(--first-color);
}

html {
  scroll-behavior: smooth;
}

/* Navbar styles */
.navbar {
  background-color: var(--second-color);
}

.navbar .nav-link {
  color: var(--icons-text);
}

.navbar .nav-link:hover {
  color: var(--third-color);
}

/* Banner styles */
.banner {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5% 0;
}

.small-text {
  font-size: 1.7rem;
  margin-bottom: 25px;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3.5rem;
  letter-spacing: 5px;
  margin-bottom: 20px;
}

.typed-cursor {
  opacity: 1;
  color: #eeeeee;
  display: inline-block;
  font-family: "Roboto Mono", monospace;
  font-size: 25px;
}

#dynamic-text {
  font-family: "Roboto Mono", monospace;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.banner .profile-pic {
  max-width: 375px;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
}

.banner .btn-custom,
.banner .video-link {
  margin-top: 20px;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

.banner .btn-custom {
  background-color: var(--third-color);
  color: var(--icons-text);
  margin-right: 15px;
  border-radius: 25px;
  padding: 12px 20px;
}

.banner .video-link {
  color: var(--third-color);
  font-size: 1.2rem;
  padding: 10px 18px;
  border-radius: 5px;
}

.banner .video-link:hover {
  text-decoration: none;
  color: var(--icons-text);
}

.banner .video-link .fas {
  font-size: 1.5rem;
  margin-right: 10px;
}

.scroll-arrow {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: var(--fourth-color);
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(-50%) translateY(0);
  }
  40% {
    transform: translateX(-50%) translateY(-10px);
  }
  60% {
    transform: translateX(-50%) translateY(-5px);
  }
}

/* Navbar utility styles */
.hidden-navbar {
  display: none;
}

.fixed-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* About Section Styles */
.text-container {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.behind-text {
  font-family: "Moirai One", cursive;
  color: grey;
  position: relative;
  z-index: 1;
  font-size: 9rem;
  line-height: 1;
  letter-spacing: 15px;
}

.main-text {
  font-family: "Bebas Neue", sans-serif;
  color: #222831;
  position: absolute;
  z-index: 2;
  font-size: 4rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.about-pic {
  max-width: 100%;
}

.about-header {
  padding-bottom: 50px;
}

.academic-details {
  display: flex;
  justify-content: space-between;
}

.list-column {
  width: 50%;
}

.text-container h3 {
  margin-top: -15px;
  margin-bottom: 25px;
}

.academic-details ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 20px;
}

.academic-details li {
  margin-bottom: 25px;
}

.btn-hire-me {
  background-color: #00adb5;
  color: #eeeeee;
  border-radius: 50px;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

.btn-hire-me:hover {
  background-color: #007d8a;
}

/* Experience & Education Styles */

.timeline {
  position: relative;
  padding-left: 10px; /* This keeps space for the icon and line */
}

.timeline::before {
  content: "";
  position: absolute;
  top: 10px; /* Starts from the first icon */
  left: 20px; /* Positioned close to the icon */
  height: calc(100% - 10px); /* Ends at the last icon */
  width: 2px;
  background-color: #222831;
}

.timeline-item {
  display: flex;
  align-items: start; /* To align everything to the top */
  margin-bottom: 20px;
}

.timeline-icon {
  position: absolute;
  margin-top: 30px;
  z-index: 1;
  width: 40px;
  height: 40px; /* to ensure consistent spacing */
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0; /* this ensures all icons are flush against the start of the parent */
}

.timeline-content {
  flex-grow: 1;
  padding-left: 45px; /* adjust according to your preference for space between icon and content */
}

.material-symbols-outlined {
  font-size: 20px;
  color: #222831;
  background-color: #eeeeee;
  border-radius: 50%;
  padding: 5px;
}

#EducationExperience h3 {
  margin-left: 25px; /* Considering the padding in timeline */
  margin-top: 50px;
  margin-bottom: 25px;
}

#EducationExperience .timeline-item p {
  background-color: var(--fourth-color);
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* Skills Section */
#Skills .text-container {
  margin-bottom: 30px; /* Adjust this value according to the space you want */
}

.skill-bar {
  position: relative;
  margin-bottom: 45px; /* Adjusted spacing between bars for added clarity */
}

.skill-label {
  position: absolute;
  top: -25px; /* Increased vertical spacing from the bar */
  left: 0;
  font-weight: bold;
  color: #333;
  margin-right: 15px; /* Added a slight margin for spacing between label and percentage */
}

.skill-percentage {
  position: absolute;
  top: -25px; /* Increased vertical spacing from the bar */
  right: 0;
  font-weight: bold;
  color: #333;
  margin-left: 10px; /* Added a slight margin for spacing between label and percentage */
}

.skill-progress {
  border-radius: 30px;
  background-color: #dcdcdc;
  height: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.progress-bar {
  border-radius: 30px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* For the column spacing */
.column {
  padding: 0 25px; /* Added space between columns */
}

/* Muted colors retained */
.bg-color1 {
  background-color: #00adb5;
}
.bg-color2 {
  background-color: #64e085;
}
.bg-color3 {
  background-color: #7775fc;
}
.bg-color4 {
  background-color: #f8715f;
}
.bg-color5 {
  background-color: #f169a4;
}
.bg-color5 {
  background-color: #e8e163;
}
/* Portfolio Section Styles */
#Portfolio {
  padding: 60px 0; /* Add padding for spacing */
  background-color: var(--fourth-color);
  display: flex;
  flex-direction: column; /* Organizes the contents vertically */
  align-items: center; /* Centers the content horizontally */
  justify-content: center; /* Centers the content vertically */
}

.portfolio-header {
  margin-bottom: 320px; /* Add space between the header and content */
}

.portfolio-content {
  text-align: center;
}

.wip-text {
  font-family: "Bebas Neue", sans-serif;
  font-size: 4.5rem; /* Increase the font size */
  color: var(--first-color);
  animation: fadeInOut 2s infinite;
  border: 4px dashed var(--third-color); /* Make the border thicker */
  padding: 35px 55px; /* Increase the padding to make the container bigger */
  border-radius: 20px;
  margin: 20px 0; /* Additional margin to give space around it */
}

@keyframes fadeInOut {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

/* Contact Section Styles */

/* Adjustments to the previous section to add more spacing */
section:not(#Contact) {
  /* This will select every section except the "Contact" section */
  padding-bottom: 400px; /* Adjust this value as per your preference */
}

#Contact {
  background-color: var(--second-color);
  padding: 150px 0; /* Spacing at the top and bottom of the section */
  color: var(--fourth-color); /* Setting default color for text in this section */
}

#Contact label {
  display: block; /* ensures the label appears on a new line */
  margin-bottom: 8px; /* some space between the label and the input/textarea */
  color: var(--icons-text); /* using your icon-text color variable */
}

.contact-header {
  text-align: center;
  margin-bottom: 50px; /* Spacing between the header and the form */
  position: relative;
}

.contact-container {
  max-width: 750px; /* Maximum width for the form */
  margin: 0 auto; /* Centering the form */
}

.contact-header .main-text {
  color: #eeeeee;
}

#Contact input[type="radio"] {
  margin-right: 8px; /* Space between the radio button and its label */
}

#Contact input,
#Contact textarea,
#Contact select {
  width: 100%;
  padding: 15px 30px;
  border: none;
  background-color: var(--fourth-color);
  border-radius: 50px;
  font-size: 1rem;
  outline: none;
  appearance: none; /* Removes platform-specific styling on some browsers */
  -webkit-appearance: none; /* Removes platform-specific styling for Safari */
  -moz-appearance: none; /* Removes platform-specific styling for Firefox */
  margin-bottom: 20px;
}

#Contact input:focus,
#Contact textarea:focus {
  box-shadow: 0 0 8px var(--third-color);
  border: 1px solid var(--third-color);
}

#Contact textarea {
  border-radius: 30px; /* Slightly more square shape for the textarea */
  height: 150px; /* Fixed height for the message box */
  resize: none; /* Disabling resizing of the textarea */
}

#Contact button {
  width: 100%;
  border: none;
  background-color: var(--third-color);
  padding: 15px 0;
  font-size: 1.2rem;
  color: var(--icons-text);
  border-radius: 50px;
  cursor: pointer; /* Hand cursor on hover */
  transition: background-color 0.3s; /* Transition for hover effect */
}

#Contact button:hover {
  background-color: var(--first-color); /* Changing the color on hover */
}

#otherTopicDiv {
  margin-bottom: 20px;
}

#Contact select {
  width: 100%;
  border: none;
  background-color: var(--fourth-color);
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 50px;
  font-size: 1rem;
  outline: none;
}

#Contact select:focus {
  box-shadow: 0 0 8px var(--third-color);
  border: 1px solid var(--third-color);
}

/* Scroll To Top Button */
@keyframes smoothBounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

#scrollToTop {
  background-color: var(--third-color); /* Using your palette's color */
  border: none;
  border-radius: 20px 20px; /* Adjusted to give a pill shape */
  width: 32px; /* Adjusted width */
  height: 50px; /* Adjusted height */
  text-align: center;
  font-size: 28px; /* You may need to adjust this depending on the new button size */
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 0; /* Ensuring there's no default padding */
  display: flex;
  align-items: center;
  justify-content: center;
  animation: smoothBounce 2s infinite;
}

#scrollToTop:hover {
  background-color: var(--fourth-color);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 100, "GRAD" 200, "opsz" 40;
  font-family: "Material Symbols Outlined";
  background: transparent; /* Ensuring the icon's background is transparent */
  border-radius: 50%; /* Giving it a rounded shape */
  padding: 4px; /* Adding some padding to ensure the icon is centered */
}

/* Responsive Design */
/* <!-- About Me --!> */
@media (max-width: 420px) {
  .text-container {
    text-align: center;
  }

  .col-md-6:nth-child(1) {
    margin-top: 20px;
  }

  .col-md-6:nth-child(2) {
    margin-top: 20px;
  }

  .behind-text {
    font-size: 4rem;
    letter-spacing: 8px;
  }

  .main-text {
    font-size: 2.5rem;
  }

  .about-header {
    margin-top: 30px;
    margin-bottom: 15px;
  }

  .about-pic {
    width: 100%;
  }

  .academic-details {
    flex-direction: column;
  }

  .list-column {
    width: 100%;
    margin-bottom: 20px;
  }

  .btn-hire-me {
    padding: 12px 24px;
  }
}

/* <!-- Education & Experience --!> */
@media (max-width: 420px) {
  .education-experience-header {
    text-align: center;
  }

  .col-md-6 {
    width: 100%;
    margin-bottom: 30px;
  }

  .timeline::before {
    left: 10px;
  }

  .timeline-icon {
    left: -10px;
  }

  .timeline-content {
    padding-left: 35px;
  }

  #EducationExperience h3 {
    margin-left: 15px;
    margin-top: 25px;
    margin-bottom: 20px;
  }

  #EducationExperience .behind-text {
    font-size: 4rem;
  }

  #EducationExperience .main-text {
    font-size: 1.5rem;
  }

  .material-symbols-outlined {
    font-size: 15px;
  }

  #EducationExperience .timeline-item p {
    margin-bottom: 10px;
  }
}

/* <!-- Portfolio Section --> */
@media (max-width: 420px) {
  #Portfolio {
    padding: 40px 10px;
  }

  .portfolio-header {
    margin-bottom: 180px;
  }

  .text-container {
    text-align: center;
  }

  #Portfolio .behind-text {
    font-size: 4rem;
    letter-spacing: 6px;
  }

  #Portfolio .main-text {
    margin-top: 5px;
    font-size: 2.75rem;
  }

  .wip-text {
    font-size: 3rem;
    padding: 20px 30px;
    margin: 15px 0;
  }
}

/* <!-- Contact Section --> */
@media (max-width: 420px) {
  #Contact {
    padding: 100px 10px;
  }

  .contact-header {
    margin-bottom: 30px;
  }

  .text-container {
    text-align: center;
  }

  #Contact .behind-text {
    font-size: 4rem;
    letter-spacing: 6px;
  }

  #Contact .main-text {
    margin-top: 5px;
    font-size: 2.75rem;
  }

  #Contact input,
  #Contact textarea,
  #Contact select {
    padding: 10px 20px;
    margin-bottom: 15px;
  }

  #Contact textarea {
    height: 120px;
  }

  #Contact button {
    padding: 12px 0;
    font-size: 1rem;
  }

  #otherTopicDiv {
    margin-bottom: 15px;
  }

  /* Scroll To Top Button */
  #scrollToTop {
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 60px;
    font-size: 18px;
  }
}
